{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
	"plugins": ["@typescript-eslint", "prettier"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"rules": {
		"@typescript-eslint/no-explicit-an": 0,
		"@typescript-eslint/no-explicit-any": 0
	}
}
